*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: monospace;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.elem{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.elem h1{
    font-size: 5vw;
}

.elem img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50% ,-50%);
    opacity: 0;
     pointer-events: none;
  transition: all linear 0.1s;
}